@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-md text-sm font-medium focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-violet-600 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 whitespace-nowrap;
    @apply h-10 px-4 py-2;
  }

  .btn.btn-default {
    @apply bg-violet-800 text-violet-50 hover:bg-violet-800/90;
  }

  .btn.btn-secondary {
    @apply bg-gray-300 text-gray-900 hover:bg-gray-300/60;
  }

  .btn.btn-destructive {
    @apply bg-red-600 text-red-50 hover:bg-red-600/90;
  }

  .btn.btn-outline {
    @apply border bg-transparent  hover:bg-violet-100 hover:text-violet-900;
  }

  .btn.btn-ghost {
    @apply hover:bg-violet-100 hover:text-violet-900;
  }
}

/* Replace dropdown arrow for select (padding is a lil off tho) */
select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;

  -webkit-appearance: none;
  -moz-appearance: none;
}
